// Custom Variables
// ----------------
// Fonts
$font-family-base:            'Roboto', sans-serif;

// Font sizes
$text-base:                   1rem;/* 16px */
$text-xxl:                    $text-base * 3.125; /* 50px */
$text-xl:                     $text-base * 1.875; /* 30px */
$text-l:                      $text-base * 1.5; /* 24px */
$text-m:                      $text-base * 1.125; /* 18px */
$text-s:                      $text-base * 0.875; /* 14px */

$line-height-base:            1.3125;

// Color system
$white:                       #fff;

$primary:                     #BA9D51;
$secondary:                   #343B44;

$gray-text:                   #1F242B;
$gray-base:                   #ADADAD;
