.new-Dizain{
    box-shadow:  5px 10px #888888;
    margin-bottom: 25px;
    p{
      color: #1cacb5;
      font-weight: bold;
    }
    a{
      text-transform: uppercase;
      color:black
    }
  }
  