// Contact styling
// ---------------
.contact-block {
  ul {
    @extend %reset-list;
    li {
      margin-bottom: 15px;
    }
  }
  i {
    width: 24px;
    font-size: $heading-4;
    margin-right: 5px;
    text-align: center;
  }
  &.bottom-space {
    margin-bottom: 44px;
  }
  h3 {
    margin-bottom: 22px;
  }
}

.contact-map {
  width: 100%;
  position: relative;
  iframe {
    height: 400px;
    width: 100%;
    position: relative;
    border: 0;
    z-index: 1;
  }
}



