// Portfolio styling
// -----------------
.portfolio-wrap{
  opacity:0;
}
.portfolio-menu {
  padding: 0;
  margin-top: 15px;
  list-style-type: none;
  display: flex;
  form {
    display: flex;
  }
  .portfolio-menu-item {
    position: relative;
    padding: 10px 15px;
    @media (max-width: 370px) {
      padding: 10px;
    }
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      padding-right: 0;
    }
    & + li:before {
      content: "/";
      position: absolute;
      left: 0;
    }
    & a {
      color: $onyx;
      @media (max-width: 370px) {
        font-size: $font-small;
      }
      &.current {
        color: $brand-primary;
      }
    }
  }
}


.port-col {

  &.hidden {
    opacity: 0;
    position: fixed;
    bottom: -300px;
    height: 0;
    width: 0;
  }
}

.portfolio-row {
  margin-bottom: 49px;
  @include media-breakpoint-down(md) {
    margin-bottom: 50px;
    padding-bottom: 50px;
    border-bottom: 1px dashed $gray;
    &:last-child {
      padding-bottom: 0;
      border-bottom: none;
    }
  }
}
.flex {
  display: flex;
}
.column {
  flex-direction: column;
  padding: 0 8px;
}
.portfolio-screenshot {
  position:relative;
  @include media-breakpoint-down(md) {
    margin: 0 0 10px;
  }
  .img-hover {
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    position: absolute;
    transition: background 0.3s;
    justify-content: center;
   & .hover-site-url {
      color: #fff;
      opacity:0;
      & i {
        font-size: 24px;
        opacity: 0.8;
      }
    }
    .magnify {
      cursor: pointer;
      font-size: 30px;
      margin-right: 30px;
      color: #fff;
      font-weight: 400;
      opacity: 0;
      transition: all, 0.3s;
    }
  }
  &:hover .img-hover {
    background-color: #14aab4b5;
    & .hover-site-url {
      opacity: 1;
    }
    .magnify {
      opacity:1;
    }
  }

  .image-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
    max-height:900px;
    max-width:900px;
    transition: all 0.2s;
    padding: 10px 10px;
    width: 100%;
    &.hidden_img {
      max-height:0;
      max-width:0;
      opacity:0;
    }
    a {
      display: block;
      position: absolute;
      padding: 5px 10px;
      opacity: 0.6;
      top: 15px;
      right: -40px;
      background: $white;
      border-radius: 50px;
      i {
        font-size: $icon-smaller;
        text-align: center;
        vertical-align: middle;
        color: $gray-dark;
        height: 100%;
      }
      &:hover {
        opacity: 1;
      }
    }
  }
}
.img-background-body {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
    z-index: 1;
    background-color: #000;
  &.hidden {
    width:0;
    height:0;
  }
}
.portfolio-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  border: 1px solid #f0f0f0;
}
.portfolio-content {
  display: flex;
  flex-direction: column;
  padding: 0px 25px;
  height: 100%;
  .portfolio-content-title {
    display:-webkit-flex;
    display: flex;
    justify-content: space-between;
    a {
      display: none;
      align-items: center;
      @media screen and (max-width:767px) {
        display: flex;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  h4 {
    margin-top:20px;
  }
  // TO-DO: Make portfolio item button always bottom
  // @include position(relative);
  // height: inherit;
  // min-height: 185px;
  // @include media-breakpoint-down(md) {
  //   min-height: auto;
  //   height: auto;
  //   @include position(static);
  // }

  h4 {
    margin-bottom: 14px;
    color: $brand-primary;
  }
  p {
    margin-bottom: 27px;
  }
  .btn {
    // TO-DO: Make portfolio item button always bottom
    // @include position(absolute, $bottom: 5px);
    // @include media-breakpoint-down(md) {
    //   @include position(static);
    // }
  }
  .tech-list-wrap {
    position:relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
  .tech-list {
    width:100%;
    @extend %reset-list;
    @extend %clearfix;
    li {
      float: right;
      margin-right: 10px;
      &:first-child {
        margin-right: 0;
      }
    }
  }
}
  i {
    color: $gray;
    font-size: 1.55rem;
  }
  img {
   border-radius: 20px;
  }
}

.client-logo {
  margin-top: 11px;
  float: right;
  @include media-breakpoint-down(md) {
    float: none;
    margin: 15px 0 0;
  }
  a {
    display: block;
  }
}

.portfolio-title {
  font-size: $font-small;
  color: $gray;
}

//largest clients on portfolio page
.largest-clients{
  background-color: $gray-light;
  padding-bottom: 50px;
  a{
    padding-top: 50px;
    margin-bottom: 40px;
    display: block;
    width:100%;
    text-align:center;
  }
  img{
    width: 150px;
  }
}
