// Font sizes
// ----------
$icon-huge:                   8.750rem; //140px
$icon-large:                  5.625rem; //90px
$icon-normal:                 4.375rem; //70px
$icon-smaller:                1.750rem; //28px
$icon-small:                  1.250rem; //20px
$font-big:                    3.750rem; //60px
$heading-1:                   3.000rem; //48px
$heading-2:                   2.250rem; //36px
$heading-3:                   1.875rem; //30px
$heading-4:                   1.500rem; //24px
$heading-5:                   1.313rem; //21px
$heading-6:                   1.125rem; //18px
$font-base:                   1.000rem; //16px
$font-small:                  0.875rem; //14px
$font-smaller:                0.750rem; //12px
$font-smallest:               0.687rem; //10px

// Line heights
// ----------
$height-font:                 1.1;
$line-font:                   1.2;
$line:                        1.3;
$line-text:                   1.4;

// Font weights
// ----------
$heavy:                       700;
$bold:                        600;
$medium:                      500;
$normal:                      400;
$light:                       300;

// Web fonts
// ---------
$font-alpha:                  'Open Sans', sans-serif;
$font-title:                  'Oswald', sans-serif;

// Colors
// ------
$brand-primary:               #1cacb5;
$brand-primary-light:         #47C0C7;
$brand-accent:                #bf1f61;
$white:                       #ffffff;
$black:                       #000000;
$onyx:                        #2a2a2a;
$gray-dark:                   #212121;
$gray:                        #889395;
$silver:                      #C0C0C0;
$gray-light:                  #f9f9f9;
$gray-lighter:                #e9ecef;
$light-silver:                #D8D8D8;
$border-color:                #ABB0B2;
// Defaults
// --------
$base-width:                  1170px;
