.post-carousel{
  position: relative;
  padding-top: 70px;
}
.owl-carousel {
  position: unset;
  max-width: 300px;
  margin: 0 auto;
  @include media-breakpoint-up(lg) {
    max-width: 600px;
  }
  @include media-breakpoint-up(xl) {
    max-width: 900px;
  }
  .item{
    padding: 10px;
    img{
      width: 280px;
      height: 280px;
      object-fit: cover;
      @include media-breakpoint-down(xs) {
        padding: 0;
      }
    }
  }
  .owl-nav {
    &.disabled {
      display: block;
    }
    button.owl-prev,
    button.owl-next {
      position: absolute;
      top: 54%;
      color: $gray-base;
      font-size: 35px;
      @include media-breakpoint-down(xs) {
        font-size: 25px;
      }
      &:focus {
        outline: none;
      }
      span {
        width: 53px;
        height: 53px;
        line-height: 53px;
        text-align: center;
        @include media-breakpoint-down(xs) {
          width: 20px;
          height: 20px;
          line-height: 20px;
        }
      }
    }
    button.owl-prev {
      left: 0;
    }
    button.owl-next {
      right: 0;
    }
  }
}

.owl-item {
  display: flex;
}
.owl-stage {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 480px) {
  .owl-carousel {
    max-width: 250px;
    .item{
      padding: 0px;
      img{
        width: 250px;
        height: 250px;
      }
    }
  }
}

@media (max-width: 410px) {
  .owl-carousel {
    max-width: 200px;
    .item{
      img{
        width: 200px;
        height: 200px;
      }
    }
  }
}

@media (max-width: 340px) {
  .owl-carousel {
    max-width: 190px;
    .item{
      img{
        width:190px;
        height: 190px;
      }
    }
  }
}