.text-block{
  padding: 70px 0;
  text-align: center;
  p{
    margin-bottom: 0;
  }
}

.error-info{
  padding: 70px 0;
  text-align: center;
  p{
    margin-bottom: 35px;
  }
  a{
    display: inline-block;
    padding: 20px 72px;
    background-color: $primary;
    color: $white;
    transition: .2s ease all;
    &:hover{
      opacity: 0.8;
    }
  }
}