.hero {
  min-height: 500px;
  display: flex;
  align-items: center;
  @media (min-width: 1441px) {
    min-height:600px;
  }
  @media (min-width: 2000px) {
    min-height:700px;
  }
}

.navbar-brand{
  h2{
    margin-bottom: 0;
    a{
      text-transform: uppercase;
      color: $gray-base;
      font-weight: 400;
      letter-spacing: 0.1em;
      @include media-breakpoint-down(xs) {
        letter-spacing: 0.08em;
      }
    }
  }
}
