.video-placeholder{
  height:500px;
  display: flex;
  justify-content: center;
  align-items: center;
  color:$white;
  position: relative;
  @media (min-width: 1441px) {
    height:600px;
  }
  @media (min-width: 2000px) {
    height:700px;
  }
  .post-video{
    height: 500px;
    display: none;
    opacity: 0;
    width: 50%;
    z-index: 10;
    @include media-breakpoint-down(md) {
      width: 100%;
    }
  }
  @media (min-width: 1441px) {
    height:600px;
  }
  @media (min-width: 2000px) {
    height:700px;
  }
  i{
   font-size: 77px;
   z-index: 10;
  }
}
.overlay{
  background: rgba(0,0, 0, 0.35);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}
